/* --- RESET DEFAULTS --- */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

/* ----- Definido font-size como 62.5% para o valor de cada 1.0rem ser igual a 10px----- */
html {
   font-size: 62.5%;
   scroll-behavior: smooth;
}

/* ----- font-size 1.6rem = 16px ----- */
body{
   width: 100%;
   font-size: 1.6rem;
   background-image: url(../imagens/web/bg.png);
   background-size: 100% 540vh;
   background-repeat: no-repeat;
}

li {
   list-style-type: none;
   text-decoration: none;
}

a{
   text-decoration: none;
   text-transform: uppercase;
}

h1, h2, h3 {
   width: auto;
   text-transform: uppercase;
}



/* ----------------------------- HOME ----------------------------- */
.home {
   min-height: 100vh;
   height: 100%;
   width: 100%;
   background-image: url(../imagens/web/s1-ft1.png);
   background-attachment: fixed;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}


/* ----------------------------- HEADER ----------------------------- */
/* --- Usando flex-box --- */
.header-home{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 90%;
   margin: auto;
   padding: 1.5rem 0;
}

.nav ul {
   display: flex;
   flex-flow: row wrap;
}

.nav ul li a {
   display: flex;
   padding: .5rem 2.4rem;
   color: #fff;
   font-size: 2.0rem;
   font-weight: 600;
   border-radius: 1.0rem;
   transition: 0.3s ease-in-out;
}

.nav ul li a:hover {
   background-color: #1CD4E9 ;
}


/* ----------------------------- HERO ----------------------------- */
.home .hero {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: column wrap;
   width: 90%;
   max-width: 1650px;
   margin: auto;
   margin-top: 25rem;
   color: #fff;
}

.title h1 {
   width: 100%;
   max-width: 1640px;
   margin: auto;
   font-size: 14.1rem;
   text-align: center;
}

.description {
   width: 100%;
   margin: auto;
   margin-top: 9.5rem;
   font-size: 2.0rem;
   text-align: center;
}

.description span{
   color: #EFE60B;
   font-weight: 500;
}

.btn-now {
   width: 35rem;
   height: 8.3rem;
   margin-top: 9.6rem;
   margin-bottom: 4rem;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
   font-size: 2.0rem;
   font-weight: 600;
   background-color:#1CD4E9;
   border-radius: 3rem;
   border: none;
   transition: 0.5s ease-in-out;
}

.btn-now:hover {
   opacity: 0.7;
   background-color: #1cd5e9e0 ;
   cursor: pointer;
}

/* ----------------------------- ABOUT ----------------------------- */
.about {
   min-height: 100vh;
   height: 100%;
   width: 100%;
   padding-bottom: 14rem;
}

.container-about {
   display: flex;
   padding: 8.3rem 56.9rem 0 14rem;
   flex-direction: column;
   align-items: start;
}

/* --- titulo da sessão 2 --- */
.about h2 {
   padding-bottom: 13rem;
   font-size: 6.0rem;
   font-weight: bold;
}

#box-about {
   width: 121.1rem;
   height: 61.2rem;
   background-color: #fff;
   box-shadow: 0rem 0rem 3.0rem#0000004D;
}

.about #box-about p {
   font-size: 2.0rem;
   text-align: left;
   padding: 0rem 4.6rem;
   line-height: 3.0rem;
}

#box-about p:first-child {
   padding-top: 4.8rem;
   padding-bottom: 2.7rem;
}

#box-about p:last-child {
   padding-top: 2.7rem;
   padding-bottom: 4.8rem;
}


/* ----------------------------- SERVICE ----------------------------- */
.service {
   min-height: 100vh;
   height: 100%;
   width: 100%;
}

.container-service {
   height: auto;
   width: auto;
   padding-top: 6.0rem;
}

/* --- titulo da sessão 3 --- */
.service h2 {
   padding: 2.0rem 0 0 13.0rem;
   font-size: 6.0rem;
   font-weight: bold;
}


/* ----------------------------- SERVICE-CARDS ----------------------------- */
#card1-service { background-image: url(../imagens/web/s3-ft1.png); }
#card2-service { background-image: url(../imagens/web/s3-ft2.png); }
#card3-service { background-image: url(../imagens/web/s3-ft3.png); }

#card1-service, #card2-service, #card3-service {
   background-size: 100% 100%;
   border-radius: 3.5rem;
}

.cards-service {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 90%;
   padding-top: 13rem;
   margin: auto;
}

.card-service {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 51.4rem;
   height: 64.8rem;
   margin-right: 8rem;
   text-align: center;
}

.card-service:last-child { margin-right: 0; }

section.card-service h3 {
   color: #EFE60B;
   font-size: 3rem;
   padding: 4.5rem 0rem;
}

.cards-description-service {
   width: 75%;
   padding-top: 2rem;
   padding: auto;
   color: #FFFFFF;
   font-size: 2.5rem;
   text-align: center;
   line-height: 3.0rem;
} 

section.card-service .p1 { padding-bottom: 5rem; }


/* ----------------------------- DIFERENCIAIS ----------------------------- */
.diff {
   min-height: 100vh;
   height: 100%;
   width: 100%;
}

.container-diff {
   height: auto;
   width: auto;
   padding-top: 6.0rem;
}

.diff h2 {
   padding-left: 15.0rem;   
   font-size: 6.0rem;
   font-weight: bold;
}

/* ----------------------------- DIFERENCIAIS-CARDS ----------------------------- */
#card1-diff { background-image: url(../imagens/web/s4-ft1.png); }
#card2-diff { background-image: url(../imagens/web/s4-ft2.png); }
#card3-diff { background-image: url(../imagens/web/s4-ft3.png); }

#card1-diff, #card2-diff, #card3-diff {
   background-size:  100% 100%;
   border-radius: 3.5rem;
}

.cards-diff {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 90%;
   padding-top: 7rem;
   margin: auto;
}

.card-diff {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 39rem;
   height: 67rem;
   text-align: center;
   margin-left: 3rem;
}

.card-diff:last-child {
   margin-left: 0;
   margin-right: 3rem;
}

section.card-diff h3 {
   padding: 4.5rem 1rem;
   color: #EFE60B;
   font-size: 3rem;
}

.cards-description-diff {
   width: 75%;
   padding-top: 2rem;
   padding: auto;
   color: #FFFFFF;
   font-size: 2.5rem;
   text-align: center;
   line-height: 3.0rem;
} 


/* ----------------------------- CONTACT ----------------------------- */
.contact {
   min-height: 100vh;
   height: 100%;
   width: 100%;
}

.container-contact {
   display: flex;
   height: auto;
   width: auto;
   border-top: 8.3rem solid #EFE60B;
   border-bottom: 8.3rem solid #EFE60B;
   background-color: #000000E6;
   color: #FFFFFF;
}


/* ----------------------------- CONTACT-INFOS ----------------------------- */
.contact .infos {
   display: flex;
   justify-content: center;
   text-align: center;
   flex-flow: column nowrap;
   max-width: 10%;
   min-width: 30%;
   margin: 7.8rem 0 7.7rem 14rem;
}

/* --- Content1 --- */
#content1 a img { width: 5.7rem; }

#content1 {
   display: flex;
   justify-content: space-between;
   flex-wrap: nowrap;
   align-items: center;
}

.redes { width: auto; }

/* --- Content2 --- */
#content2 {
   display: flex;
   justify-content: space-between;
}

.redes #logo-face {
   margin-right: 7rem;
   padding: auto;
}

.msg, .tel{
   display: flex;
   align-items: center;
   padding: 4.5rem 0 4rem 0;
}

#content2 img, #content3 img { width: 2.8rem; }

#content2 p{
   font-size: 2.0rem;
   padding-left: 2rem;
}

/* --- Content3 --- */
#content3 {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding-bottom: 8.0rem;
}

#content3 address {
   max-width: 46.0rem;
   padding: 0 2rem;
   font-size: 1.2rem;
   text-align: left;
}

/* --- Content4 --- */
#content4 {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   text-align: left;
}

#txt-white, #txt-yellow {padding-bottom: 4.0rem;}

#txt-white, #txt-yellow, #txt-blue {
   font-size: 2.0rem;
   font-weight: 600;
   line-height: 3.0rem;
}

#txt-white{ color: #FFFFFF;}
#txt-yellow{ color: #EFE60B;}
#txt-blue{ color: #1CD4E9; }


/* ----------------------------- CONTACT-FORM ----------------------------- */
.container-contact .email {
   width: 100%;
   margin: 8.3rem 0 8.3rem 15%;
}

.contact .email form {
   display: flex;
   justify-content: center;
   text-align: center;
   flex-flow: column;
   width: 90%;
   height: 100%;
   max-width: 70%;
   margin: auto;
   background-color: #818181;
}

/* --- Inputs --- */
.contact .email input, .contact .email textarea, .contact .email #btn-mail {
   width: 90%;
   margin: auto;
   margin-top: 0;
}

.contact .email input:first-child { margin-top: 3.0rem; }

.contact .email input, .contact .email #btn-mail  { height: 7.6rem; }

.contact .email input::placeholder, .contact .email textarea::placeholder {
   padding: 2.0rem 0 1.9rem 1.9rem;
   color: #D1D1D1;
   font-size: 3.0rem;
   font-weight: medium;
   text-align: left;
}

.contact .email textarea {
   height: 20.0rem;
   margin-bottom: 6.0rem;
}

/* --- Botão do formulário --- */
.contact .email #btn-mail {
   border: none;
   background-color: #1CD4E9;
   color: #FFFFFF;
   font-size: 2.9rem;
   font-weight: 600;
   text-align: center;
   text-transform: uppercase;
}