@media (max-width: 1610px) {
   html {font-size: 50%;}
   /* ----- HOME ----- */ 
   .hero {
      margin-top: 9rem;
   }
   /* --- About --- */

   /* --- Service --- */

   .service h2, .diff h2 {
      font-size: 50px;
      padding: 20px 0 0 110px;
   }

}

@media (max-width:1310px) {
   html {font-size: 45%;}
   /* ----- HOME ----- */ 
   .nav ul li a {
      font-size: 1.9rem;
   }

   /* --- About --- */

   .about h2 {
   font-size: 40px;
   padding: 53px 0 0 75px;
   }
   .about #box-about {
      width: 800px;
      height: 352px;
      padding: 25px 33px;
   }

   .about #box-about p {
      font-size: 13px;
   }

   /* --- Service --- */

   .service h2, .diff h2 {
      font-size: 40px;
      padding: 20px 0 0 75px;
   }

}


@media (max-width:955px) {
   html {font-size: 40%;}
   body {overflow-x: hidden; background: none;}
   
   /* ----- HOME ----- */ 
   .header-home {
      flex-flow: row-reverse;
   }

   .hero {
      margin-top: 8em;
      width: 90%;
   }

   .logo {
      width: 100vw;
      margin-right: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .title h1 {
      font-size: 70px;
      margin: auto;
   }

   .description {
      margin-top: 60px;
      padding: 0 10px;
      text-align: center;
   }
   

   .btn-now {
      width: 300px;
      height: 63px;
      font-size: 15px;
   }

/* --- About --- */

.about {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.about h2 {
   font-size: 40px;
   padding: 10px 0;
   display: flex;
   align-items: flex-start;
   }
   .about #box-about {
      width: 60vw;
      height: 50vh;
      padding: 25px 33px;
   }

   .about #box-about p {
      font-size: 12px;
   }

   /* --- Service --- */

   .service h2, .diff h2 {
      font-size: 40px;
      padding: 20px 0 0 75px;
   }
}


@media (max-width:650px) {
   html {font-size: 40%;}
   body {overflow-x: hidden; background: none;}
   .home {
      background-image: url(../imagens/mobile/s1-mobile.png);
      background-attachment: scroll;
      background-size: 100% 100%;
      background-position:center;
   }
/* ----- HOME ----- */ 
   .header-home {
      flex-flow: row-reverse;
   }
   
   
   .logo {
      width: 100vw;
      margin-right: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .title h1 {
      text-align: center;
      font-size: 35px;
      width: 100%;
      margin: auto;
      margin-top: 0px; 
   }

   .description {
      text-align: center;
      margin-top: 100px;
      padding: 0 50px;
      width: 80vw;
   }

   .btn-now {
      width: 220px;
      height: 43px;
      font-size: 12px;
      margin-top: 100px;
   }
}
 
   @media (max-width: 500px) {
      html {font-size: 35%;}
   }
