@media (max-width: 1610px) {
   html {font-size: 50%;}
   /* ----- HOME ----- */ 
   .home .hero {
      margin-top: 12rem;
   }
   /* --- About --- */
   
   
   .about h2 {
      padding-bottom: 10rem;
   }
   /* --- Service --- */

   .container-service {
      padding-top: 2.0rem;
   }

}

@media (max-width:1310px) {
   html {font-size: 45%;}
   /* ----- HOME ----- */ 
   .nav ul li a {
      font-size: 1.9rem;
   }

   /* --- About --- */
   .about #box-about {
      width: 115rem;
   }

   .about #box-about p {
      font-size: 120%;
   }

   /* --- Service --- */

   

   .cards-description, .cards-descriptio-diff {
      font-size: 2.2rem;
   }

   .service h2, .diff h2 {
      font-size: 40px;
      padding: 20px 0 0 75px;
   }

}


@media (max-width:955px) {
   html {font-size: 30%;}
   body {overflow-x: hidden; background: none;}
   
   /* ----- HOME ----- */ 
   .header-home {
      flex-flow: row-reverse;
   }

   .hero {
      margin-top: 10em;
      width: 90%;
   }

   .logo {
      width: 100vw;
      margin-right: 3.0rem;
      display: flex;
      justify-content: center;
      align-items: center;
   }


   .description {
      text-align: center;
      font-size: 160%;
   }
   

   .btn-now {
      width: 55rem;
      height: 12rem;
      font-size: 180%;
      margin-top: 25rem;
   }

/* --- About --- */

   .about h2 {
      font-size: 40px;
      display: flex;
      align-items: flex-start;
      }

   .about #box-about {
      width: 80vw;
      height: auto;
      margin: 0 auto;
      padding: 0 auto;
      box-shadow: 0px 0px 6.0rem#0000004D;
   }

   .about #box-about p {
      font-size: 3.0rem;
      line-height: 4rem
   }

   /* --- Service --- */

   .cards, .cards-diff {
      flex-direction: column;
   }

   .card, .card-diff  {
      width: 70%;
      height: auto;
      padding-bottom: 10rem;
      margin-right: 0;
      margin-bottom: 6rem;
   }

   .card-diff {
      width: 90%;
      height: 85.0rem; 
   }

   #card1-diff {
      background-image: url(../imagens/web/s4-ft01.png);
   }
   #card2-diff {
      background-image: url(../imagens/web/s4-ft2.png);
   }
   #card3-diff {
      background-image: url(../imagens/web/s4-ft3.png); 
   }

   section.card h3, section.card-diff h3 {
      font-size: 6rem;
   }

   .cards-description, .cards-description-diff {
      width: 80%;
      font-size: 4rem;
      line-height: 6.0rem;
      height: 100%;
      margin-top: 4%;
   } 


}


@media (max-width:650px) {
   html {font-size: 40%;}
   body {overflow-x: hidden; background: none;}
   .home {
      background-image: url(../imagens/mobile/s1-mobile.png);
      background-attachment: scroll;
      background-size: 100% 100%;
      background-position:center;
   }
/* ----- HOME ----- */ 
   .header-home {
      flex-flow: row-reverse;
   }
   
   
   .logo {
      width: 100vw;
      margin-right: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .title h1 {
      text-align: center;
      font-size: 35px;
      width: 95%;
      margin: auto;
      margin-top: 0px; 
   }

   .description {
      text-align: center;
      margin-top: 100px;
      width: 80vw;
   }

   .btn-now {
      width: 220px;
      height: 43px;
      font-size: 12px;
      margin-top: 100px;
   }

   /* --- about --- */

   .about {
      padding-bottom: 3rem;
   }

   .about h2 {
      padding: 2rem;
   }

   .container-about {
      padding: 5rem;
   }
   
   .container-about #box-about p {
      font-size: 2.1rem;
      line-height: 2.7rem
   }


   /* --- service/diff --- */
   .cards, .cards-diff {
      padding-top: 2rem;;
   }
   .card, .card-diff {
      width: 90%;
      margin-right: 0;
      margin-bottom: 6rem;
   }

   .service h2, .diff h2 {
      font-size: 40px;
      padding:0 0 3rem 7rem;
   }

   section.card h3,section.card-diff h3 {
      font-size: 4rem;
   }

   .cards-description, .cards-description-diff {
      width: 80%;
      font-size: 3rem;
      line-height: 3rem;
      height: 100%;
      margin-top: 4%;
   } 
 
}